
<div class="container-fluid my-3">

    <p>管理者のメインページどす</p>
    <p>管理者のメインページどす</p>
    <p>管理者のメインページどす</p>
    <p>管理者のメインページどす</p>
    <p>管理者のメインページどす</p>
    <p>管理者のメインページどす</p>
    <p>管理者のメインページどす</p>
    <p>管理者のメインページどす</p>
    <p>管理者のメインページどす</p>
    <p>管理者のメインページどす</p>
    <p>管理者のメインページどす</p>
    <p>管理者のメインページどす</p>
    <p>管理者のメインページどす</p>
    <p>管理者のメインページどす</p>

</div>