
<div class="container">
    <div class="row">

        <div class="col">

        <h1>管理者登録情報</h1>
>
            <p><%= @admin.email %></p>


        <%# <%= link_to "登録情報を編集する", edit_admin_registration_path %> %>

        </div>

    </div>
</div>