/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ../../assets/stylesheets/.
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
    font-family: 'M PLUS 1p', sans-serif;
    color: #2d334a;
    font-size: 14px;
}
h1 {
    color: #2d334a;
    font-size: 32px;
}
h2 {
    color: #2d334a;
    font-size: 28px;
}
h3 {
    color: #2d334a;
    font-size: 24px;
}
h4 {
    color: #2d334a;
    font-size: 22px;
}
h5 {
    color: #2d334a;
    font-size: 20px;
}
h6 {
    color: #2d334a;
    font-size: 18px;
}
p {
    color: #2d334a;
    font-size: 13px;
}

// 管理者ロゴ
.admin-logo {
    background-image: url(logos/admin-logo.png);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 38px;
}
// ロゴ
.logo {
    background-image: url(logos/logo.png);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 38px;
}

// メインスライダー用
.slide1 {
    background-image: url(slides/slide_1.jpeg);
}
.slide2 {
    background-image: url(slides/slide_2.jpeg);
}
.slide3 {
    background-image: url(slides/slide_3.jpeg);
}
.slide4 {
    background-image: url(slides/slide_4.jpeg);
}
.slide5 {
    background-image: url(slides/slide_5.jpeg);
}
.slide6 {
    background-image: url(slides/slide_6.jpeg);
}
#container{
    width: 100%;
    height: 320px;
}


.hachijo-img {
    background-image: url(slides/b_hachijo.png);
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 330px;
    position: fixed;
    top: 30%;
    // left: 10%;
    // transform: translate(-50%, -50%);
    z-index: 20;
}

.contents {
    position: relative;
    width: 100%;
    height: 5px;
}

.line {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 5px;
    background: #ff5f03;
}


  

// トップへ戻るボタン
#back {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
// flashメッセージ通知用
.flash-back {
    position: fixed;
    background-color: #3f3f3f;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 10;
}
.flash-notice {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
.flash-alert {
    position: fixed;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;

  }


// オリジナルbtn
.btn-myh {
    color: #272343;
    background-color: #ffd803;
}
.btn-myh:hover {
    top: -2px;
    box-shadow: 1px 1px 2px gray;
    transition: .2s;
}

// 商品用
._product {
    background-color: #fffffe;
    border-radius: 10px;
    transition-duration: .2s;
}

._product:hover {
    top: -6px;
    box-shadow: 0px 2px 4px 2px #c0bdd1;
    transition: .2s;
}


.footer-hachijo-img {
    background-image: url(slides/y_hachijo.png);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 220px;
}