/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ../../assets/stylesheets/.
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
    font-family: 'M PLUS 1p', sans-serif;
}

// メインスライダー用
.slide1 {
    background-image: url(slides/slide_1.jpeg);
}
.slide2 {
    background-image: url(slides/slide_2.jpeg);
}
.slide3 {
    background-image: url(slides/slide_3.jpeg);
}
.slide4 {
    background-image: url(slides/slide_4.jpeg);
}
.slide5 {
    background-image: url(slides/slide_5.jpeg);
}
.slide6 {
    background-image: url(slides/slide_6.jpeg);
}
#container{
    height: 550px;
}




// btn
.btn-myh {
    color: #272343;
    background-color: #ffd803;
}
.btn-myh:hover {
    top: -2px;
    box-shadow: 1px 1px 2px gray;
    transition: .2s;
}
